#wrapper {
    margin:1em;
}

.itm-table {
    background-color: #ffeeaa;
    border:solid 5px #ffdd55;
}

.itm-table td {
    padding:0 5px;
}

label.itm-label {
    width:200px;
    display:block;
    float:left;
}

td#result {
    width:110px;
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
}

.active {
    background-color: #ff0;
}
